<!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron">
  <h1>Hacker News Monitor</h1>
  <p>Receive alerts for mentions on Hacker News</p>
  <p>
    <a class="btn btn-lg btn-primary" href="#" role="button">Get started &raquo;</a>
  </p>
</div>



