<%# Bypass the layout's container so the landing page fills the page width. %>
<%= content_for :before_container do %>

  <div class="jumbotron cover-section" id="intro">
    <h2>We are Google Alerts from HackerNews</h2>

    <p>Simply the best way to receive alerts for mentions on Hacker News.</p>

    <p><a class="btn btn-primary btn-lg" href="#learn-more">Learn More</a></p>
  </div>

  <div class="jumbotron cover-section cover-section-alternate" id="features">
    <h2>Features</h2>

    <p class="subheading">Seamlessly disseminate alternative imperatives with
    go forward internal or.</p>

    <div class="row">
      <div class="col-md-4">
        <div class="feature glyphicon glyphicon-cloud"></div>

        <h3>So Much Foo</h3>

        <p>Blah blah blah blah blah blah blah blah blah blah blah blah blah
        blah blah blah blah blah blah blah blah blah blah blah blah</p>
      </div>

      <div class="col-md-4">
        <div class="feature glyphicon glyphicon-heart"></div>

        <h3>Lots of Bar</h3>

        <p>Blah blah blah blah blah blah blah blah blah blah blah blah blah
        blah blah blah blah blah blah blah blah blah blah blah blah</p>
      </div>

      <div class="col-md-4">
        <div class="feature glyphicon glyphicon-transfer"></div>

        <h3>...even Baz!</h3>

        <p>Blah blah blah blah blah blah blah blah blah blah blah blah blah
        blah blah blah blah blah blah blah blah blah blah blah blah</p>
      </div>
    </div>
  </div>

  <div class="jumbotron cover-section" id="pricing">
    <h2>Pricing</h2>

    <p class="subheading">Dramatically optimize high standards in innovation
    after orthogonal communities.</p>

    <div class="plans container">
      <div class="row">
        <div class="col-md-2"></div>

        <div class="col-md-4">
          <div class="plan panel">
            <div class="panel-heading">
              <h3>Basic Package</h3>

              <p>Individual License</p>
            </div>

            <p class="lead"><span class="price"><sup>$</sup>19</span>
            monthly per user</p>

            <ul class="list-group list-group-flush">
              <li class="list-group-item">Many feature</li>

              <li class="list-group-item">So good</li>

              <li class="list-group-item">Much value</li>

              <li class="list-group-item">Very nice</li>
            </ul>

            <div class="panel-footer">
              <a class="btn btn-lg btn-block" href="#get-started">Get
              started for free</a>

              <p class="hint">7 day free trial</p>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="highlighted plan panel">
            <div class="panel-heading">
              <h3>Complete Package</h3>

              <p>Individual License</p>
            </div>

            <p class="lead"><span class="price"><sup>$</sup>69</span>
            monthly per user</p>

            <ul class="list-group list-group-flush">
              <li class="list-group-item">Many feature</li>

              <li class="list-group-item">So good</li>

              <li class="list-group-item">Much value</li>

              <li class="list-group-item">Very nice</li>

              <li class="list-group-item">Exclusive item</li>

              <li class="list-group-item">Another bonus</li>
            </ul>

            <div class="panel-footer">
              <a class="btn btn-lg btn-block" href="#get-started">Get
              started for free</a>

              <p class="hint">7 day free trial</p>
            </div>
          </div>
        </div>

        <div class="col-md-2"></div><!-- Add more plan columns -->
      </div>
    </div>
  </div>

  <div class="jumbotron cover-section cover-section-alternate" id="newsletter">
    <div class="container">
      <form class="form-inline">
        <h2>Register for HackerNewsLetter</h2>

        <div class="row">
          <div class="col-sm-10">
            <input class="form-control input-lg" id=
            "newsletter-email-input" name="email" placeholder=
            "Type your e-mail address" type="text">
          </div>

          <div class="col-sm-2">
            <input class="btn btn-default btn-lg" type="submit" value="Submit">
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="jumbotron cover-section" id="credits">
    <%= link_to "https://assembly.com/hn-monitor" do %>
      Made with <span class="glyphicon glyphicon-heart"></span> on Assembly
    <% end %>
  </div>

<% end %>
